big-ticket-web/big-ticket-web.iml
target
node_modules
big-ticket-web/src/main/webapp/META-INF
big-ticket-web/src/main/webapp/WEB-INF/classes
big-ticket-web/src/main/webapp/WEB-INF/test-classes
big-ticket-web/src/main/webapp/WEB-INF/lib
.idea
