<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.daijing.big.ticket.dao.hupu.mapper.BlogTypeMapper" >

    <resultMap id="BaseResultMap" type="org.daijing.big.ticket.dao.hupu.po.BlogTypePO" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, type_id, type_name, seq, gmt_create, gmt_modified
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM blog_type
        ORDER BY seq ASC
    </select>

</mapper>